# /etc/inittab example for Alpine Linux autologin on tty1
#
# Replace default tty1 line with:
# tty1::respawn:/sbin/agetty --autologin game --noclear 38400 tty1 linux
#
# Keep the rest of your inittab content as needed.

::sysinit:/sbin/openrc sysinit
::sysinit:/sbin/openrc boot
::wait:/sbin/openrc default

tty1::respawn:/sbin/agetty --autologin game --noclear 38400 tty1 linux
tty2::respawn:/sbin/getty 38400 tty2
tty3::respawn:/sbin/getty 38400 tty3
tty4::respawn:/sbin/getty 38400 tty4

::ctrlaltdel:/sbin/reboot
::shutdown:/sbin/openrc shutdown
